.coinCard {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: relative;
    width: 100%;
    max-width: 24rem;
    transition: all 0.3s ease-in-out;
  }
  
  .coinCard:hover {
    background-color: #f7fafc; /* hover background color */
  }
  
  .coinImage {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
  }
  
  .coinInfo {
    flex: 1;
  }
  
  .coinTitle {
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
    transition: color 0.3s ease;
  }
  
  .coinInfoText {
    color: #718096; /* gray color */
    font-size: 1rem;
  }
  
  .coinPrice {
    font-size: 0.875rem;
    font-weight: 600;
    color: #718096; /* Ensure it's gray like the other text */
  }
  
  .coinPriceUp {
    color: #38a169; /* green for positive change */
  }
  
  .coinPriceDown {
    color: #e53e3e; /* red for negative change */
  }
  
  .additionalInfo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out;
  }
  
  .coinCard:hover .additionalInfo {
    opacity: 1;
  }
  
  .additionalInfo {
    font-size: 1.125rem;
    font-weight: 600;
    color: black;
  }
  
  .groupHoverText {
    color: #4a5568; /* gray color on hover for texts */
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 2rem;
  }
  